name: API Compatibility
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - '**/*.md'
      - 'docs/**'
      - '.github/ISSUE_TEMPLATE/**'
jobs:
  compat:
    if: ${{ !github.event.pull_request.draft }}
    uses: SevFle/devops-toolkit/.github/workflows/ai-api-compat.yml@main
    secrets: inherit
