name: CI
on:
  pull_request:
  push:
    branches: [{{BASE_BRANCH}}]
concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true
jobs:
  ci:
    uses: SevFle/devops-toolkit/.github/workflows/ci.yml@main
    with:
      install_command: 'go mod download'
      test_command: 'go test ./...'
      build_command: 'go build ./...'
      lint_command: 'golangci-lint run'
      typecheck_command: 'go vet ./...'
    secrets: inherit
