name: CodeQL
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - '**/*.md'
      - 'docs/**'
      - '.github/ISSUE_TEMPLATE/**'
  push:
    branches: [{{BASE_BRANCH}}]
    paths-ignore:
      - '**/*.md'
      - 'docs/**'
  schedule:
    - cron: '0 2 * * 1'
jobs:
  analyze:
    if: ${{ github.event_name != 'pull_request' || !github.event.pull_request.draft }}
    uses: SevFle/devops-toolkit/.github/workflows/codeql.yml@main
    secrets: inherit
