name: E2E Tests
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - '**/*.md'
      - 'docs/**'
      - '.github/ISSUE_TEMPLATE/**'
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch:
jobs:
  e2e:
    if: ${{ github.event_name != 'pull_request' || !github.event.pull_request.draft }}
    uses: SevFle/devops-toolkit/.github/workflows/e2e.yml@main
    secrets: inherit
